@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fade {
	opacity: 0;
	/* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1;
	/* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	/* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade.one {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.fade.two {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.fade.three {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.fade.four {
	-webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
.fade.five {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
@-webkit-keyframes slideUp {
	from {
		height: 2000px;
	}
	to {
		height: 300px;
	}
}
@-moz-keyframes slideUp {
	from {
		height: 2000px;
	}
	to {
		height: 300px;
	}
}
@keyframes slideUp {
	from {
		height: 2000px;
	}
	to {
		height: 300px;
	}
}
.slide {
	-webkit-animation: slideUp cubic-bezier(0.39, 0.58, 0.57, 1) 1;
	-moz-animation: slideUp cubic-bezier(0.39, 0.58, 0.57, 1) 1;
	animation: slideUp cubic-bezier(0.39, 0.58, 0.57, 1) 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
	height: 2000px;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: gainsboro;
	font-family: "Open Sans", sans-serif, serif;
	font-style: normal;
	font-variant: normal;
	font-size: 1em;
}
header,
.projects {
	background-color: white;
}
header,
.experience,
.education,
.projects {
	text-align: center;
	padding: 2%;
	width: 95%;
	margin: auto;
}
h1,
h2,
h3 {
	text-align: center;
	padding: 1%;
	margin-bottom: 2%;
	font-weight: 800;
	font-size: 200%;
	color: #000085;
}
header h2 {
	font-size: 300%;
}
h3 {
	font-size: 150%;
}
hr {
	border-color: black;
	font-weight: 600;
	margin: 2% 8% 2% 8%;
}
.navbackground {
	background-color: white;
	width: 99%;
	margin: auto;
	padding-bottom: 5%;
}
nav {
	background-color: dimgrey;
	min-width: 99%;
	margin: auto;
	top: 0;
	position: fixed;
	z-index: 1;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	float: right;
	width: 25%;
}
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav li a:hover {
	background-color: #000085;
}
footer {
	background-color: white;
	padding: 2%;
	width: 95%;
	margin: auto;
}
footer ul {
	width: 80%;
	margin: auto;
}
footer li {
	padding-bottom: 1%;
}
.imageholder {
	padding-right: 2%;
}
footer li img {
	height: 25px;
	width: 25px;
	vertical-align: middle;
	border: 1px;
	border-style: solid;
	border-color: #000085;
	border-radius: 10%;
}
footer a {
	color: black;
}
#contact {
	margin-bottom: 7%;
}
.bolded {
	font-weight: 800;
	padding: 2%;
	font-style: normal;
	display: block;
}
.title {
	font-weight: 800;
	color: #000085;
}
.schools {
	width: 85%;
	margin: auto;
	font-style: italic;
	display: flex;
	height: auto;
	margin-bottom: 3%;
}
.schools.dublin p,
.schools.berkeley p {
	text-align: left;
	display: block;
}
.schools img {
	float: left;
	margin-right: 5%;
	height: auto;
	width: auto;
	max-height: 19%;
	max-width: 20%;
	padding-bottom: 15%;
}
.schools.dublin,
.schools.berkeley {
	display: inline-block;
	width: 50%;
	height: auto;
}
.skill_list {
	background-color: white;
	border-radius: 10%;
	border: 1px;
	border-style: solid;
	border-color: #000085;
	width: 27%;
	margin: 2%;
	margin-top: 0;
	display: inline-block;
}
.skills {
	margin-top: 5%;
	width: 85%;
	margin: auto;
	display: block;
	clear: both;
}
.skill_list li {
	padding: 2%;
	overflow: hidden;
}
.jobs {
	width: 90%;
	margin: auto;
	text-align: left;
	padding: 2%;
}
.jobs ul {
	list-style-type: disc;
	margin-left: 10%;
	padding: 2%;
}
.emphasis {
	font-style: italic;
	padding-left: 2%;
}
#tagged {
	margin-left: 5%;
}
.company {
	padding-left: 2%;
	font-style: italic;
	color: #000085;
}
.company a {
	color: #000085;
}
.individualprojects {
	width: 60%;
	margin: auto;
}
.individualprojects a {
	text-decoration: none;
}
.backgroundbox {
	width: 100%;
	height: 60%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid #000085;
}
.backgroundbox.one {
	background-image: url(/img/emertxt.png);
}
.backgroundbox.two {
	background-image: url(/img/opendoor.png);
}
.backgroundbox.three {
	background-image: url(/img/dubbikes.PNG);
}
.backgroundbox.four {
	background-image: url(/img/store.PNG);
}
.backgroundbox.five {
	background-image: url(/img/zebra.PNG);
}
.transparent {
	width: 100%;
	height: 100%;
	background-color: #000085;
	padding: -moz-opacity: 0.0;
	opacity: 0.0;
	filter: alpha(opacity=0);
}
.transparent:hover {
	display: block;
	-moz-opacity: 0.85;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.transparent.text p,
.transparent.text h5 {
	color: white;
	font-weight: 800;
	font-size: 150%;
	font-style: italic;
	width: 90%;
	margin: auto;
	text-align: center;
}
.transparent.text {
	padding-top: 5%;
	text-align: center;
	width: 100%;
	height: 80%;
}
.transparent.text p {
	padding-top: 5%;
	border-top: 2px solid white;
}
.transparent.text h5 {
	padding-bottom: 1%;
}
@media screen and (max-width: 767px) {
	.navbackground {
		padding-bottom: 20%;
		background-color: white;
	}
	nav li {
		font-size: 70%;
	}
	.schools.dublin,
	.schools.berkeley,
	.schools.dublin p,
	.schools.berkeley p {
		display: block;
		width: auto;
		text-align: center;
	}
	.schools {
		display: block;
		margin-bottom: 10%;
	}
	.schools img {
		float: none;
		padding-bottom: 3%;
	}
	.skill_list {
		display: block;
		width: 70%;
		margin: auto;
		text-align: center;
		margin-bottom: 5%;
	}
	.title {
		padding: 3%;
	}
	.skills h3 {
		margin-bottom: 10%;
	}
	footer li {
		font-size: 70%;
	}
	.individualprojects {
		font-size: 50%;
	}
}
